/* 바디 기본 설정 */
body {
  margin: 0;
  background-color: #040714;
}

/* 헤더 */
header {
  position: absolute;
  width: 100%;
  top:0
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header li {
  text-align: right;
  padding: 8px;
}

header a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 13px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid silver;
  border-radius: 3px;
  padding: 8px;
}

header a:hover {
  background-color: white;
  color: black;
}

/* 메인 */

.mainA .container {
  /* position: relative;
  top: 0;
  left: 0; */
}

.cover_img {
  width: 100%;
  object-fit: cover;
}

.slideshow picture {
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: -1; */

}

.slide img {
  width: 100%;
}

.mainA .hero_desc {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  color: white;
  text-align: center;
  left: 50% ;
  margin-left: -150px;
  /* padding: 40vw 0 0; */
}

.kind h1 {
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 5px;
  letter-spacing: -1px;
}

.kind h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.mainA p {
  margin: 0;
  font-size: 10px;
  color: gray;
  font-weight: 900;
  letter-spacing: -1px;
}

.kind .tax {
  margin-top: 20px;
}

.mainA .big {
  margin: 20px 0;
  font-size: 12px;
  letter-spacing: -1px;
}

.big a {
  color: white;
}

.standard a {
  display: inline-block;
  padding: 12px 100px;
  background-color: #02D6E8;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-top: 5px;
}

.standard a:hover {
  opacity: 0.8;
}

.premium a:hover {
  opacity: 0.8;
}


.premium a {
  display: inline-block;
  padding: 12px 100px;
  background-color: #02D6E8;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-top: 5px;
}

.disney_logo>img {
  width: 100px;
  margin: 0;
}

/* 로그인 창 */
.logfoot ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 20px;
}

.logfoot li {
  padding: 20px 10px 0 10px;
}

.logfoot {
  color: gray;
  background-color: white;
  font-size: 10px;
  font-weight: bold;
  height: 150px;
}

.logfoot a {
  color: gray;
  text-decoration: none;
}

.logfoot a:hover {
  color: black;
}

.logmain {
  background: linear-gradient(225deg, #051828, #055463);
  height: 700px;
}

.logmain .logform {
  margin: auto;
  height: 250px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  padding: 40px 50px 20px 50px;
}

.logform span {
  font-size: 8px;
  font-weight: bold;
  padding: 0;
}

.logform p {
  font-size: 11px;
  margin-bottom: 20px;
}

.logform h3 {
  margin: 0;
  margin-top: 5px;
}

.logform .log_email {
  width: 96%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  outline: 0;
}

.log_email:focus {
  border-bottom: 1px solid black;
}

.logform .log_submit {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
}

.logform .log_submit:hover {
  cursor: pointer;
}

.logmain .logimg {
  text-align: center;
}

.logimg img {
  width: 130px;
  padding: 20px;
}

.movie_posters h2 {
  margin-top: 100px;
  font-size: 32px;
  line-height: 1.2;
  color: #f9f9f9;
  text-align: center;
}


.posters {
  display: flex;
  flex-wrap: wrap;
}

.posters .poster {
  flex: 45%;
  padding: 10px;

}

.poster img {
  width: 100%;
}



.mender {
  width: 354;
  height: 512;

}

.p {
  color: #f9f9f9;


}


h3 {
  color: #f9f9f9;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 24px;

}

.medium .p {
  font-size: 16px;
  font-family: Inspire-KO, sans-serif;
}



/* .poster .last{
  overflow-clip-margin: content-box;
  overflow: clip;
  aspect-ratio: auto 630 / 354;
} */


section * {
  scroll-margin-top: 75px;
  scroll-padding-top: 75px;
}

section {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie_posters h2 {
  color: #f9f9f9;
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
}


.center {
  color: #f9f9f9;
}


.test1 .inner a:hover {
  filter: brightness(0.9);
  /* background: #0682f0; */
}


.test2 {
  display: flex;
}

.test2 .click a {
  display: block;
  text-align: center;
  width: 150px;
  line-height: 3;
  text-decoration: none;
  border-radius: 5px;
  background: #02d6e8;

}

.test2 .click button a:hover {
  filter: brightness(0.9);
  /* background: #0682f0; */
}

.tt {
  border-bottom: 1px solid white;
}






.center {
  font-size: 16px;

}

.center .h2 {
  text-align: center;
}




.movie_page h2 {
  font-size: 30px;
  line-height: 1.2;
  color: #f9f9f9;
  text-align: center;
}

.movie_page p {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  text-align: center;
}

.pages {
  display: flex;
  flex-wrap: wrap;
}

.pages .page {
  flex: 45%;
  padding: 10px;

}

.page img {
  width: 100%;
}


.text-medium {
  font-size: 14px;
  text-align: center;
  /* display: block; */
}


.medium {
  font-size: 16px;
  font-family: sans-serif;

}

.tlie {
  font-size: 12px;
  margin: 20px 0 0;
  line-height: 16px;
  text-align: center;
  font-family: sans-serif;
}

.test {
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
}

.test .box {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.test .box a {
  display: block;
  text-align: center;
  width: 150px;
  line-height: 3;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid;
  color: white
}

.test .box a:hover {

  background: white;
  color: black;
}


.test1 {
  display: flex;
  position: sticky;
  top: 0;
  align-content: space-around;
  justify-content: space-around;
}


.test1 .inner a {
  display: block;
  text-align: center;
  width: 150px;
  line-height: 3;
  /* height:50px; */
  border-radius: 5px;
  text-decoration: none;
  background: #02d6e8;
  color: black
}


.center p {
  text-align: center;
}


.check {
  background-color: white;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 21px;
}



.name {
  color: #f9f9f9;
  text-align: inherit;
  cursor: pointer;
  font-family: sans-serif;
}

.test1 .gray {
  background-color: #ddd;
}

.inner {
  background-color: #1d1f2b;
}


body{
  background-color: #040714;
 margin: 0;
}
.a1{
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 38px;

}

/* footer */
footer{
  background-position: center;
  width: 80%;
  margin: auto;
}

.foot1{
  font-family: '맑은 고딕' sans-serif; 
  font-size: 20px;
  background-color: #13151D;
  color: white;
  border: 1px solid #13151D;
  padding: 15px;
  cursor: pointer;
  /* width: 100%; */
  /* margin: auto; */
  font-weight: bold;
  position:relative;
  margin-top: 25px;
}

.foot2{
    display: none;
    font-family: '맑은 고딕' sans-serif; 
    font-size: 14px;
    background-color: #13151D;
    color: white;
    opacity: 0.8;
    border: 1px solid #13151D;
    padding: 15px;
    cursor: pointer;
    /* width: 80%; */
    /* margin: auto; */
    font-weight: bold;
  
  }
  .foot2 a{
   opacity: 1;
    color: white;
  }

  .foot1::after{
    content:"+";
    display:inline-block;
    position:absolute;
    right:30px;
    
  }

  .a2{
    text-align: center;
    /* margin: 0 50% 20px; */
  }
  .a2 img{width: 80px;}
  
  .a4{
    text-align: center;
    font-size: 12px;
    color: white;
    opacity: 0.6;
    margin-top: 0;
    margin-bottom: 0;
  }

  .click{
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
   align-content: center;
   text-decoration: none;
   color: white;
  }

  .a3{
    padding: 15px;
    }

.link{
margin: auto;
text-align: center;
color: white;
opacity: 0.8;
text-decoration: none;
text-align: center;
font-size: 12px;
padding: 10px;
}
.a5{
font-size: 16px;
color: white;
text-decoration: none;
}

.under{
margin-top: 130px;
}


/* media query */
@media(min-width:768px) and (max-width:1024px) {
  .mainA .hero_desc{
    margin-left: -270px;
  }
  .kind {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;

  }
  .hero_desc>.disney_logo>img {
    padding-top: 80px;
    width: 150px;
  }

  .posters .poster {
    flex: 30%;
  }
  .pages .page {
    flex: 30%;
  }
}

@media(min-width:1025px) {
  .mainA .hero_desc{
    text-align: left;
    left: 200px;
    top: 80px;
    padding: 0;
  }
  
  .cover_img {
    height: 600px;
  }

  .hero_desc>.disney_logo>img {
    width: 150px;
  }

  #hero_desc h1 {
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 5px;
    letter-spacing: -2px;
  }

  #hero_desc h2 {
    font-size: 24px;
    margin-bottom: 0;
    letter-spacing: -2px;
  }

  .posters .poster {
    flex: 30%;
  }
  .pages .page {
    flex: 30%;
  }

  
}

